USERS_POSTGRES_USER=postgres
USERS_POSTGRES_PASSWORD=postgres
USERS_POSTGRES_DB=users
USERS_POSTGRES_PORT=5432
USERS_APP_PORT=8001

BACKEND_POSTGRES_USER=postgres
BACKEND_POSTGRES_PASSWORD=postgres
BACKEND_POSTGRES_DB=blog
BACKEND_POSTGRES_PORT=5433
BACKEND_APP_PORT=8000
